body {
    background-image: url(diana-polekhina-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
input {
    border: none;
}

header {
   background-color: rgb(72, 98, 142); 
   margin: 0 auto;
   text-align: center;
   color: rgb(225, 241, 255);
   border-radius: 25px;
   font-family: "Oswald", sans-serif;
   max-width: 90%
}

#content {
    background-color: rgb(225, 241, 255);
    color: rgb(72, 98, 142);
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    max-width: 90%;
    border-radius: 15px;
    padding: 10px;
}

#calc-btn {
    border-radius: 20px;
    background-color: rgb(72, 98, 142);
    color: rgb(225, 241, 255);
    border: none;
    width: 30px;
    height: 30px;
}

#calc-btn:hover {
    background-color: white;
    color: rgb(72, 98, 142);
}

#message {
    color: darkblue;
}
